*{
	margin: 0;
	padding: 0;	
}


body {
	background-color: #a6cded;
}

header {
	text-align: center;
	background-color: white;
	padding: 30px 0;
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	font-weight: bold;
}

#rules {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 30px 0;
}

/* Buttons */

.buttons {
	text-align: center;
	padding-top: 25px;

}

#r {
	border-radius: 50%;
	padding: 25px 25px;
	margin-right: 25px;
	border-style: solid;
	background-color: #538BBA;
	color: white;
	font-family: 'Roboto Slab', serif;

}


#p {
	border-radius: 50%;
	padding: 25px 20px;
	border-style: solid;
	background-color: #538BBA;
	color: white;
	font-family: 'Roboto Slab', serif;
}

#s {
	border-radius: 50%;
	padding: 25px 14px;
	margin-left: 25px;
	border-style: solid;
	background-color: #538BBA;
	color: white;
	font-family: 'Roboto Slab', serif;
}

#reset {
	border-radius: 25%;
	padding: 25px 20px;
	background-color: #538BBA;
	color: white;
	font-family: 'Roboto Slab', serif;
	border: none;
	position: absolute;
	left: 48%;
	top: 70%;

}

#r:hover, #p:hover, #s:hover, #reset:hover {
	background-color: #7AADD8;
}

.green-glow {
	border: 4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}

.red-glow {
	border: 4px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
}

.grey-glow {
	border: 4px solid #464647;
	box-shadow: 0 0 10px #25292b;
}



/* Scores */

.score {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-top: 25px;
	margin: 20px auto;
	width: 400px;
	display: relative;
}

#user-line {
	text-align: left;
	display: inline-block;

}

#user-score {
	text-align: left;
	display: inline-block;
	padding-right: 25px;
}

#comp-line {
	text-align: right;
	display: inline-block;
	padding-left: 25px;
}

#comp-score {
	text-align: right;
	display: inline-block;

}

#result {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-top: 20px;
}

/* Rounds */

#rounds {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 20px 0;
}

#roundMessage {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 25px 0;
	font-size: 30px;

}



